.DS_Store
.idea/
raha/.idea/
.ipynb_checkpoints/
__pycache__/
*.egg-info/
agModels/
raha/__pycache__/

*/datawigModels/
*/AutogluonModels
**/.env

# LLM sqlite-cache
raha/cache.db

# HyFDMirmir
HyFDMimir/
