numpy~=1.21.5
pandas~=1.2.4
scipy~=1.7.3
sklearn==0.0
matplotlib~=3.5.1
prettytable~=3.2.0
mwparserfromhell~=0.6.4
beautifulsoup4~=4.10.0
py7zr~=0.18.0
Levenshtein~=0.20.6

python-dateutil~=2.8.2
scikit-learn~=1.0.2
Levenshtein~=0.20.6
datawig~=0.2.0
ipython~=7.32.0
raha~=1.25
ruska~=0.0.1
pytest~=7.0.1
setuptools~=62.1.0
Flask~=2.1.3
jenga~=0.0.1a1